%estilo-botao-balao {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: .5rem 0.5rem;
}

%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

%espaco-entre-tipos {
    margin-bottom: 1rem;
}

%cursor-botoes {
    cursor: pointer;
}