$amarelo: #d8cd01;
$branco: #ffffff;
$preto: #000000;
$preto-mais-claro: #333333;
$preto-mais-escuro: #141414;
$cinza: #cccccc;
$cinza-mais-escuro: #b9b9b9;
$texto-rodape: #d5d5d5;

$media-query-cabecalho: "screen and (min-width: 1105px)"; 

